span.flickr-credit {
  /*Use the dedicated field at admin/config/media/flickr for a horizontal inside spacing value (padding/border).*/
  padding: 3px 7px;
  border: solid 2px lightgray;
  background: white;
}
