span.flickr-wrap {
  margin: 0 8px 5px 0 !important;
  background: white;
  -webkit-box-shadow: 2px 2px 7px 3px #a5a5a5;
     -moz-box-shadow: 2px 2px 7px 3px #a5a5a5;
          box-shadow: 2px 2px 7px 3px #a5a5a5;
}

.flickr-photo-img {
  margin: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

span.flickr-credit {
  /*Reset the space between the image and caption box*/
  margin-top: 0;
  padding: 0 5px 3px;
}
