.flickr-photo-img,
img.flickr-photoset-img {
  border: solid 2px white;
  background: white !important;
}

/*Make the caption as wide as the image */
span.flickr-credit,
.flickr-citation {
  padding: 0 2px 4px 4px;
}
