.flickr-photo-img,
img.flickr-photoset-img {
  padding: 2px;
  border: solid 2px lightgray !important;
  background: white !important;
}

/*Make the caption as wide as the image */
span.flickr-credit,
.flickr-citation {
  padding: 0 4px;
}
